# 游戏推送与查询配置
#
# enable: 是否开启该游戏的版本监控
# pushGroups: 接收新版本推送的群号列表。这是一个列表，没有群聊时写成 [], 有群聊时一行一个 "- 群号"。
# defaultCycleDays: 普通版本周期的天数（例如：42天）
# specialCycles: 特殊版本周期的设置。这是一个列表，没有特殊情况时写成 []。

ys:
  enable: true
  pushGroups:
    - "12345678"
    - "87654321"
  defaultCycleDays: 42
  specialCycles: [] 

sr:
  enable: true
  pushGroups: [] # 示例：没有要推送的群
  defaultCycleDays: 42
  specialCycles: [] 


zzz:
  enable: false
  pushGroups: [] # 示例：没有要推送的群
  defaultCycleDays: 42
  specialCycles: 
    - version: "2.1.0"
      days: 50

bh3:
  enable: false
  pushGroups: []
  defaultCycleDays: 42
  specialCycles: [] 