# 游戏版本基准文件
#
# 这是插件的“初始记忆”。当插件首次运行或Redis缓存丢失时，会从这里读取基准信息。
# 请将这里的版本号和日期设置为当前游戏的真实情况。
# baseVersion: 当前游戏的版本号。
# baseDate: 当前版本是哪天开始的，格式：YYYY-MM-DD

ys:
  baseVersion: "5.8.0"
  baseDate: "2025-07-30"

sr:
  baseVersion: "3.4.0"
  baseDate: "2025-07-02"

zzz:
  baseVersion: "2.1.0"
  baseDate: "2025-07-16"

bh3:
  baseVersion: "8.4.0"
  baseDate: "2025-07-24"